<script type="text/javascript">
  // <% if logged_in? %>
  // window.currentOrganizer = <%= render('api/organizers/organizer.json.jbuilder', organizer: current_organizer).html_safe %>
  // <% end %>
</script>

<main id="root"></main>
